<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Health Monitoring Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="container">
        <h1>AI Health Monitoring Application</h1>
         <h2>As a final year project</h2>

        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" id="imageInput" name="image" accept="image/*">
            <button type="submit">Upload Image</button>
        </form>
    </div>
</body>
</html>
