<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Health Monitoring Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <div class="container">
        <h1>AI Health Monitoring Application</h1>

        {% if output %}
    {% if output == "Safe" %}
        <h2 style="color: green;">{{ output }}</h2>
    {% else %}
        <h2 style="color: red;">{{ output }}</h2>
    {% endif %}
{% endif %}


        <form id="uploadForm" action="/home-page" method="POST" enctype="multipart/form-data">
            <input type="file" id="imageInput" name="image" accept="image/*" required>
            <div id="imagePreviewContainer">
                <img id="imagePreview" src="#" alt="Selected image will appear here" style="display: none;">
            </div>
            <button type="submit" id="uploadBtn">Upload Image</button>
            <button type="submit" id="healthCheckBtn" name="action" value="health-check">Health Check</button>
        </form>
    </div>

    <script>
        const imageInput = document.getElementById("imageInput");
        const imagePreview = document.getElementById("imagePreview");

        imageInput.addEventListener("change", function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.setAttribute("src", e.target.result);
                    imagePreview.style.display = "block";
                };

                reader.readAsDataURL(file);
            } else {
                imagePreview.setAttribute("src", "#");
                imagePreview.style.display = "none";
            }
        });
    </script>
</body>
</html>
